/* designer-om CSS */

.field {
    border: 1px solid magenta;
}
g.block {

}

rect, circle {
    cursor: pointer;
}

rect.block {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

circle.flowport {
    fill: white;
    stroke: black;
    stroke-width: 2px;
    r: 40px;
}

.block path {
    stroke-width: 10px;
}